*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", serif;
}

:root{
    /* Primary Colors */
    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);

    /* Neutral Colors */
    --grayish-blue: hsl(229, 8%, 60%);
    --grayish-blue-bg: hsl(229, 8%, 95%);
    --grayish-blue-line: hsl(229, 8%, 85%);
    --very-dark-blue: hsl(229, 31%, 21%);
    --very-dark-blue-ham: hsl(229, 31%, 21%, .8);

    /* Font Weights */
    --font-weight-400: 400;
    --font-weight-500: 500;
}

body{
    overflow-x: hidden;
}

h1{
    font-size: 36px;
    font-weight: var(--font-weight-500);
}

h2{
    font-size: 32px;
    font-weight: var(--font-weight-500);
}

.para{
    color: var(--grayish-blue);
    line-height: 1.5rem;
}

.btn{
    font-weight: var(--font-weight-500);
    cursor: pointer;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--soft-blue);
    color: white;
    box-shadow: 0 5px 10px var(--grayish-blue);
}

.btn:hover{
    outline: 2px solid var(--soft-blue);
    color: var(--soft-blue);
    background-color: white;
}

.line{
    border-top: 1px solid var(--grayish-blue);
}

.hamb-features-line{
    border-top: 1px solid var(--grayish-blue-line);
    width: 100%;
}

.features-line{
    border-top: 1px solid var(--grayish-blue-line);
    width: 50%;
}

.links{
    text-transform: uppercase;
    letter-spacing: 2px;
    list-style: none;
}

.a-links{
    cursor: pointer;
    text-decoration: none;
}

/* Header Component */

.header-hero{
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    display: none;
}

.hamb-open-btn, .hamb-close-btn{
    cursor: pointer;
    border: none;
    background: none;
    height: 40px;
}

.hamb-open-img, .hamb-close-img{
    width: 20px;
    aspect-ratio: 1/1;
}

/* Hamburger Component */

.hamburger-hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--very-dark-blue-ham);
}

.hamb-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hamb-navbar{
    margin-top: 30px;
}

.hamb-nav-list{
    text-align: center;
    width: 100%;
}

.hamb-nav-list{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hamb-nav-list a{
    color: white;
}

.hamb-login-btn{
    cursor: pointer;
    width: 100%;
    background: none;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    height: 40px;
    font-size: 16px;
}

.bot-section{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.facebook-icon, .twitter-icon{
    width: 30px;
    height: 30px;
    color: white;
}

.facebook-btn, .twitter-btn{
    cursor: pointer;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    aspect-ratio: 1/1;
}

/* Intro Component */

.intro-hero{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-image, .feature-image{
    max-width: 100%;
}

.top-part{
    position: relative;
}

.background-top{
    position: absolute;
    z-index: -9999;
    top: 100px;
    left: 100px;
    border-radius: 500px 0 0 500px;
    min-height: 75%;
    min-width: 200%;
    background-color: var(--soft-blue); 
}

.bot-part{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.btn-group{
    display: flex;
    gap: 20px;
}

.firefox-btn{
    background-color: var(--grayish-blue-bg);
    color: var(--very-dark-blue);
}

.firefox-btn:hover{
    outline: 2px solid var(--very-dark-blue);
    color: var(--very-dark-blue);
    background-color: white;
}

/* Features Component */

.features-hero{
    margin-top: 100px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

.background-image{
    position: absolute;
    z-index: -9999;
    top: 100px;
    left: -50%;
    border-radius: 0 500px 500px 0;
    min-height: 85%;
    min-width: 120%;
    background-color: var(--soft-blue); 
}

.features-bot-part{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tab-section{
    display: flex;
    flex-direction: column;
}

.tab-item{
    border-top: 1px solid var(--grayish-blue-line);
}

.tab-item:last-child{
    border-bottom: 1px solid var(--grayish-blue-line);
}

.tab-item-btn{
    cursor: pointer;
    border: none;
    background: none;
    font-size: 16px;
    padding: 20px;
}

.tab-item-btn:hover{
    color: var(--soft-red);
}

.tab-item-btn-active{
    cursor: pointer;
    border: none;
    background: none;
    font-size: 16px;
    font-weight: var(--font-weight-500);
    padding: 20px;
    border-bottom: 4px solid var(--soft-red);
}

@media only screen and (min-width: 768px)
{
    .bot-part{
        align-items: start;
        text-align: start;
    }

    /* Header Component */

    .nav-list{
        display: flex;
        align-items: center;
        gap: 40px;
        font-size: 14px;
    }

    .navbar{
        display: block;
    }

    .hamb-open-btn{
        display: none;
    }

    .nav-links a{
        color: var(--very-dark-blue);
    }

    .nav-links a:hover{
        color: var(--soft-red);
    }

    .login-btn{
        cursor: pointer;
        border: none;
        background-color: var(--soft-red);
        color: white;
        border-radius: 5px;
        height: 40px;
        padding: 0 40px;
    }

    .login-btn:hover{
        background-color: white;
        color: var(--soft-red);
        outline: 2px solid var(--soft-red);
    }

    /* Intro Component */

    .intro-hero{
        padding: 50px;
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .top-part, .bot-part{
        width: 50%;
    }

    .intro-image{
        width: 100%;
    }

    /* Features Component */
    
    .features-hero{
        align-items: center;
    }

    .tab-section{
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    .tab-item{
        border-top: none;
        border-bottom: 1px solid var(--grayish-blue-line);
    }

    .features-bot-section{
        display: flex;
        flex-direction: row;
    }

}