*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", serif;
}

:root{

  /* Primary Colors */
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);

  /* Neutral Colors */
  --grayish-white: hsl(229, 8%, 96%);
  --grayish-blue: hsl(229, 8%, 60%);
  --grayish-blue-lite: hsl(229, 8%, 80%);
  --very-dark-blue: hsl(229, 31%, 21%);

  /* Font Weights */
  --font-weight-400: 400;
  --font-weight-500: 500;  
}


body{
  overflow-x: hidden;
}

.hero{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

/* Header Component */

.header-hero{
  margin: 40px 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-list, .footer-list{
  display: flex;
  align-items: center;
  gap: 3rem;
  list-style: none;
}

.navbar-list-item a{
  cursor: pointer;
  letter-spacing: .1rem;
  text-decoration: none;
  padding: 10px 0;
}

a:hover, .footer-list-item a:hover{
  color: var(--soft-red);
}

.navbar-list-item, nav button{
  cursor: pointer;
  text-transform: uppercase;
  font-weight: var(--font-weight-400);
  font-size: .875rem;
  color: var(--very-dark-blue);
}

.login-link-btn{
  background-color: var(--soft-red);
  color: white;
  padding: .625rem 1.875rem;
  border-radius: .313rem;
  box-shadow: 0 4px 10px var(--grayish-blue);
  border: none;
}

.login-link-btn:hover{
  background-color: white;
  outline: .124rem solid var(--soft-red);
  color: var(--soft-red);
}

/* Manager Component */

.manager-hero{
  margin: 50px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.left-side-manager{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

h1{
  font-size: 38px;
  font-weight: var(--font-weight-500);
  color: var(--very-dark-blue);
}

p{
  color: var(--grayish-blue);
  line-height: 1.6rem;
}

.get-it-btns{
  display: flex;
  gap: 15px;
}

.get-it-google-btn, .features-more-info-btn, .extension-btn, .faq-btn{
  padding: 10px 20px;
  border: none;
  border-radius: .313rem;
  background-color: var(--soft-blue);
  color: white;
  box-shadow: 0 4px 10px var(--grayish-blue);
}

.get-it-google-btn:hover, .features-more-info-btn:hover, .extension-btn:hover, .faq-btn:hover{
  cursor: pointer;
  background-color: var(--grayish-white);
  outline: 2px solid var(--soft-blue);
  color: var(--soft-blue);
}

.get-it-firefox-btn{
  padding: 10px 30px;
  border: none;
  border-radius: .313rem;
  background-color: var(--grayish-white);
  color: var(--very-dark-blue);
  box-shadow: 0 4px 10px var(--grayish-blue);
}

.get-it-firefox-btn:hover{
  cursor: pointer;
  background-color: var(--grayish-white);
  outline: 2px solid var(--very-dark-blue);
  color: var(--very-dark-blue);
}

.right-side-manager{
  position: relative;
  display: flex;
  justify-content: end;
}

.manager-image{
  position: relative;
  left: 100px;
  width: 80%;
}

.background-image{
  position: absolute;
  width: 80%;
  right: -40%;
  top: 100px;
  height: 300px;
  z-index: -1;
  background-color: var(--soft-blue);
  border-radius: 1500px 0 0 1500px;

}

/* Features Component */

.features-hero{
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  gap: 50px;
}

.features-intro{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.features-intro h2{
  color: var(--very-dark-blue);
  font-weight: var(--font-weight-500);
  font-size: 28px;
}

.features-intro p{
  text-align: center;
  line-height: 1.6rem;
  color: var(--grayish-blue);
}

.features-list{
  border-bottom: 1px solid var(--grayish-blue-lite);
  padding: 20px;
  list-style: none;
  display: flex; 
  gap: 80px;
  color: var(--very-dark-blue);
}

.features-list-item:hover{
  cursor: pointer;
  color: var(--soft-red);
}

.features-list-item:active{
  font-weight: var(--font-weight-500);
}

.simple-bookmarking-tab{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.features-left-side{
  position: relative;
}

.background-image-features{
  position: absolute;
  top: 100px;
  left: -40%;
  width: 120%;
  height: 300px;
  z-index: -1;
  background-color: var(--soft-blue);
  border-radius: 0 1500px 1500px 0;
}

.features-right-side{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.features-more-info-btn{
  width: 15%;
}

/* Extensions Component */

.extensions-hero{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 30px;
  margin-top: 200px;
}

.extension-container{
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.extension-type{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 40px 0 20px 0 ;
  border-radius: 15px;
  box-shadow: 0 5px 5px var(--grayish-blue);
  margin-bottom: 100px;
}

.chrome-type{
  position: relative;

}

.firefox-type{
  position: relative;
  top: 30px;
}

.opera-type{
  position: relative;
  top: 60px;
}

.browser-logo{
  width: 40%;
}

/* Faq Component */

.faq-hero{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  gap: 30px;
}

.faq-para{
  text-align: center;
}

.line{
  width: 100%;
  border: 1px solid var(--grayish-blue);
}

.faq-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.qa-btn{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: none;
  background: none;
  padding: 20px 0;
  margin-bottom: 20px;
  font-size: 16px;
}

.qa-btn:hover{
  color: var(--soft-red);
}

/* Contact Content */

.contact-hero{
  background-color: var(--soft-blue);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px 0;
  color: var(--grayish-white);
}

h4{
  font-weight: var(--font-weight-400);
  letter-spacing: 5px;
}

h2{
  font-size: 32px;
  font-weight: var(--font-weight-500);
}

form{
  display: flex;
  gap: 10px;
}

.email-input, .contact-us-btn{
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.email-input::placeholder{
  color: var(--grayish-blue);
}

.contact-us-btn{
  cursor: pointer;
  background-color: var(--soft-red);
  color: var(--grayish-white);
}

.contact-us-btn:hover{
  background-color: var(--grayish-white);
  color: var(--soft-red);
  outline: 1px solid var(--soft-red);
}

/* Footer Component */

.footer-hero{
  display: flex;
  justify-content: space-between;
  background-color: var(--very-dark-blue);
  width: 100%;
  padding: 30px 0;
}

.footer-container{
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.bookmark-logo-footer{
  background-color: var(--grayish-white);
}

.footer-list-item a{
  text-decoration: none;
  color: var(--grayish-white);
  font-weight: var(--font-weight-400);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  padding: 10px;
}

.social-icons-container{
  display: flex;
  gap: 20px;
}

.social-icon{
  width: 25px;
  height: 25px;
}

.social-icon-btn{
  cursor: pointer;
  background: none;
  border: none;
  color: var(--grayish-white);
}

.social-icon-btn:hover{
  color: var(--soft-red);
}